body{
    padding: 0;
    margin: 0;
}



#map{
    height:100vh;
    position: relative;
    z-index: 1;
}


#stationInfos{
    
    width: auto;
    padding: 1%;
    border-radius: 10%;
    box-shadow: 3px 3px 3px black;
    position: absolute;
    right: 45px;
    top: 15px;
    z-index: 2;
    background-color: aliceblue;
    display: none;
    
}

form{
    
    display: flex;
    flex-direction: column;
    align-content: space-around;
    height: auto;
}

form input{
    margin-bottom: 10px;

}

#submit{
    background-color: green;
    
}

#btn{
    text-align: center;
}

.btn_canvas{
    
    color:white;
    padding: 3px;
    border-radius: 5px;
    font-size: 1.2em;
}

.btn_canvas:hover{
    box-shadow: 4px 4px 4px black;
}

#reserver{
    background-color: lawngreen;
}

#cancel{
    background-color: red;
}
        
canvas{
    border: 2px black solid;
}

canvas:hover{
    cursor:crosshair;
}

#signature{
    display: none;
    text-align: center;
}

#resume_confirmation{
    display: none;
    position: fixed;
    bottom:0;
    width: 100%;
    background-color: white;
    z-index: 100;
    text-align: center;
}